* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: inline;
    background-color: purple;
    color:  white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 20px;
}

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


footer {
    background-color: purple;
    color: white;
    margin-top: 35px;
    padding: 18px;
}